.ant-card-head-title,
.ant-tabs-nav-wrap,
.ant-tree{
    text-align: left;
}
.editable-row-operations{
    a {
        margin-right: 8px;
        color: #40a9ff;
    }
}
.light-row{
    background: #e6f7ff;
}
