@import "iconfont.css";

[class^="icon-"]{
	font-family: "iconfont" !important;
	/* 以下内容参照第三方图标库本身的规则 */
	font-size: 18px !important;
    font-style: normal;
    margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
